<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Renk Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="colorAddForm">
          <div class="mb-3">
            <label for="colorName">Renk İsmi</label>
            <div class="form-group">
              <input
                type="text"
                id="colorName"
                formControlName="colorName"
                class="form-control"
                placeholder="Renk İsmi"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button (click)="add()" class="btn btn-fill btn-primary">Ekle</button>
      </div>
    </div>
  </div>
</div>
